* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    margin-right: 10px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #794f45;
}

a:hover {
    color: black;
    transition: 0.5s;
}

.wrapper {
    padding: 20px;
    min-height: 100%;
    background-color: #473b3b;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 46px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    margin-top: 30px;
    color: black;
}

/* 
Контейнеры сетки (grid) не являются блочными
элементами. Поэтому часть CSS свойств с ними
не работает.

Cвойство dispay: grid создаёт контейнер 
уровня блока т.е. занимает 100% ширины экрана.
*/
.grid {
    display: grid;
    float: right;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    font-size: 30px;
    background-color: #794f45;
}

/* 
Cвойство dispay: inline-grid создаёт контейнер 
уровня строки. Ширина контейнера будет равна
находящемуся внутри контенту.
*/
.grid-inline {
    display: inline-grid;
    float: left;
    padding: 20px;
    font-size: 30px;
    background-color: #77608d;
}

.grid-all::after {
    content: "";
    display: table;
    clear: both;
}

/* Lesson 2 */
.grid-main {
    display: block;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    font-size: 30px;
    background-color: #794f45;
}

.grid__body {
    display: grid;
    /* 
	Можно комбинировать относительные(%) и 
    фиксированные(px) значения.
    
    WARING! Minmax meaning is can't using with 
    fr measurement unit. This unit measurement (FR) 
    can use only as max-size for column.
    */
    /*
    grid-template-columns: 200px minmax(100px, 200px) 200px;
    */

    /*
    AUTO meaning allow to adjust by internal content
    */
    /*
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;
    */

    /* Max-width for column.
    Use FIT-CONTENT operator for width limit
    */
    /*
    grid-template-columns: fit-content(200px) 1fr auto;
    grid-template-rows: 1fr 1fr;
    */

    /* (11:39) Properties write optimization. 
    For shorten the property record cam use a
    REPEAT operator. First value is count to colums or rows.
    Second value is his size.
    */
    /*
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    */

    /* (16:53) Shorten record - grid-template
    */
    /*
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);

    Rows are indicated first, then columns
    */
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.grid__item {
    padding: 20px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (12:50) Area names. */

.grid-wrapper {
    display: grid;

    /* For shorten properties record in Area use opertor
    [start]
    */

    /* Shorten record */
    /*
    grid-template: 
        [start] "header header" 100px [row2]
        [row2] "side content" 1fr [row-end] / 150px 1fr;
    */
    /* Standart record */

    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "header header"
        "side content";
}

.grid-header,
.grid-side,
.grid-content {
    padding: 30px;
    border: 2px dashed rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

.grid-header {
    grid-area: header;
}

.grid-side {
    grid-area: side;
}

.grid-content {
    grid-area: content;
}

/* Implicit grid */

.grid-auto {
    display: grid;
    grid-template: 1fr 1fr / repeat(7, 1fr);
    grid-auto-rows: 200px;
    grid-auto-columns: 400px;
    /* 
    Used only if set the explicit grid.
    Grid template unset.
    */
}

/* 3-d row is refers to implicit grid */

.grid-auto__item {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (20:58) Automatic placement */
.grid-masonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    /* Auto position: 3 value */
    grid-auto-flow: dense;
    counter-reset: item;
}

.grid-masonry__item_5 {
    grid-column: span 2;
    grid-row: span 2;
}

/* Lesson 3 */

.wrapper-3 {
    min-height: 100%;
    overflow: hidden;
    background-color: #473b3b;
}

.content-3 {
    padding: 30px 3%;
}

.grid-3 {
    position: relative;
    margin: 0px 0px 40px 0px;
    font-size: 30px;
}

/*
.grid__body-3 {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr)
}
*/

.grid__item-3 {
    padding: 30px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (1:58) Размещение элементов сетки с помощью линий сетки */
/*
.grid__item-3_1 {
    grid-row-start: span 2;
    grid-row-end: auto;
    grid-column-start: span 3;
    grid-column-end: auto;
    background-color: #794f45;
}
*/
/* 
C помощью свойств grid-row-start/end и grid-column-start/end
удобно произвольно менять положение элемента и размер (кол-во
занимаемых ячеек)
*/

/* (5:06) Присваивание имён линиям сетки */
/* Позволяет в дальнейшем размещать элемент
по имени данной линии */

/*
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 1fr [row2] 1fr [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
}
*/

.grid__item-3_2 {
    grid-row-start: row2;
    grid-column-start: col3;
    background-color: #794f45;
}

/* (6:31) Короткая запись свойств */
/* Положение объекта указывается через "/"
цифрами, либо именами линий"
*/

/*
.grid__item-3_1 {
    grid-row: start / row-end;
    grid-column: col3 / col3 ;
    background-color: #794f45;
}
*/

/*
.grid__item-3_1 {
    background-color: #794f45;
    order: 3;
}

.grid__item-3_2 {
    order: 4;
}

.grid__item-3_3 {
    order: 1;
}

.grid__item-3_4 {
    order: 6;
}

.grid__item-3_5 {
    order: 5;
}

.grid__item-3_6 {
    order: 2;
}
*/

/* 7:50 Выравнивание элементов сетки */
/*
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 150px [row2] 150px [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

    justify-items: start;
    align-items: stretch;
}
*/
/* 9:38 Отдельное выравнивание элементов сетки */
/*
.grid__item-3_1 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_2 {
    justify-self: start;
    align-self: center;
}

.grid__item-3_3 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_4 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_5 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_6 {
    justify-self: stretch;
    align-self: stretch;
}
*/

/* 10:16 Выравнивание элементов сетки по центру ячейки */
/*
.grid__item-3_1 {
    margin: auto;
}

.grid__item-3_2 {
    margin: auto;
}

.grid__item-3_3 {
    margin: auto;
}

.grid__item-3_4 {
    margin: auto;
}

.grid__item-3_5 {
    margin: auto;
}

.grid__item-3_6 {
    margin: auto;
}
*/

/* 10:30 Промежутки между элементами сетки */
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 150px [row2] 150px [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

    gap: 5%;
}

.grid__item-3_1 {
}

.grid__item-3_2 {
}

.grid__item-3_3 {
}

.grid__item-3_4 {
}

.grid__item-3_5 {
}

.grid__item-3_6 {
}

/* Grid 4 */

.grid-4 {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-4 {
    border: 1px dotted black;
    background-color: #4b9194;
}

/* Grid 5 */
.grid-5 {
    display: grid;
    grid-template-columns: minmax(min-content, 150px) 1fr;
    grid-template-rows: minmax(min-content, 150px) 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-5 {
    border: 2px dashed black;
    background-color: #d89024;
}

/* Grid 6 */
.grid-6 {
    display: grid;
    grid-template-columns: minmax(100px, min-content) minmax(500px, min-content);
    grid-template-rows: minmax(100px, auto) 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-6 {
    border: 2px solid black;
    background-color: #eb5b19;
}

/* Grid 7 */
.grid-7 {
    display: grid;
    /* grid-template-columns: minmax(100px, 250px) minmax(100px, 250px); */
    grid-template-columns: repeat(2, minmax(100px, 250px));
    /* ^ Сокращённый вариант записи, функци repeat () */
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-7 {
    border: 6px double black;
    background-color: #af393f;
}

/* Grid 8 */
.grid-8 {
    display: grid;
    max-width: 400px; /* ограничивает максимальную ширину дорожки */
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-8 {
    border: 6px groove black;
    background-color: #e79d2f;
}

/* Grid 9 */
.grid-9 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-9 {
    border: 6px ridge black;
    background-color: #849e5b;
}

/* Grid 10 */
.grid-10 {
    display: grid;
    grid-template-columns: fit-content(50%) fit-content(300px) 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-10 {
    border: 6px inset black;
    background-color: #76d8aa;
}

/* Grid 11 */
.grid-11 {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-11 {
    border: 6px outset black;
    background-color: #2091d3;
}

.grid-11-2 {
    display: grid;
    grid-template-rows: repeat(auto-fit, 50px);
    grid-template-columns: repeat(auto-fit, 100px) repeat(4, 80px 6%);
    gap: 10px;
    margin-bottom: 30px;
}

.grid__item-11-2 {
    border: 6px outset black;
    background-color: #3f667c;
}

.grid-12 {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar content";

    grid-template-rows: repeat(3, 50px);
    grid-template-columns: 150px 1fr;
    gap: 10px;
    margin-bottom: 30px;
}

.header {
    grid-area: header;
    border: 3px dotted black;
    background-color: #ca76b5;
}

.sidebar {
    grid-area: sidebar;
    border: 3px dotted black;
    background-color: #3289cf;
}

.content {
    grid-area: content;
    border: 3px dotted black;
    background-color: #e24a70;
}

.grid-13 {
    display: grid;
    grid-template-areas: none;
    grid-auto-rows: 50px;
    grid-auto-columns: minmax(20px, 500px);
    margin-bottom: 30px;
}

.grid__item-13 {
    border: 6px outset black;
    background-color: #67757e;
}

.grid-14 {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar content";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 50px;
    margin-bottom: 30px;
}

header {
    grid-area: header;
    padding: 5px;
    background-color: brown;
}

aside {
    grid-area: sidebar;
    padding: 5px;
    background-color: cadetblue;
}

aside > p {
    padding-bottom: 5px;
}

main {
    grid-area: content;
    padding: 5px;
    background-color: chocolate;
}

.grid-15 {
    display: grid;
    grid-template-areas:
        "header sidebar"
        "header sidebar"
        "content content";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr 100px;
    margin-bottom: 30px;
}

.block-1 {
    grid-area: header;
    padding: 5px;
    background-color: #c9ebb5;
}

.block-2 {
    grid-area: sidebar;
    padding: 5px;
    background-color: #bfa730;
}

.block-3 {
    grid-area: content;
    padding: 5px;
    background-color: #bdc573;
}

.grid-15 p {
    padding-bottom: 5px;
    color: black;
}

/* Grid-16 */
.grid-16 {
    display: grid;
    grid-template-areas:
        "post-1 post-1 post-2"
        "post-1 post-1 post-3"
        "post-6 post-5 post-4";
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
}

.grid-16-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-1 {
    grid-area: post-1;
    background-color: #5ccccc;
}
.post-2 {
    grid-area: post-2;
    background-color: #ffd073;
}
.post-3 {
    grid-area: post-3;
    background-color: #6c8cd5;
}
.post-4 {
    grid-area: post-4;
    background-color: #bf8f30;
}
.post-5 {
    grid-area: post-5;
    background-color: #1d7373;
}
.post-6 {
    grid-area: post-6;
    background-color: #a64b00;
}

/* Grid - 17 Краткая запись явной сетки */
.grid-17 {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 1fr);
    margin-bottom: 30px;
}

.post-17-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #5ccccc;
    border: 1px solid rgb(211, 63, 63);
}

.post-17-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #d39a28;
}

.post-17-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #92dd3d;
}

.post-17-4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #457ee7;
}

.post-17-5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #ca86f1;
}

/* Grid - 17-v2 Краткая запись явной сетки. Вариант 2 */
.grid-17-v2 {
    display: grid;
    /* именованные линии сетки по вертикали*/
    grid-template:
        [start] "post-3 post-5 post-2" 200px [row2]
        [row2] "post-4 post-1 post-1" 200px [row3]
        [row3] "post-6 post-1 post-1" 200px [row-end] / 1fr 1fr 1fr;
    margin-bottom: 30px;
}

.post-17-v2-1 {
    grid-area: post-1;
    background-color: #e3e78a;
}

.post-17-v2-2 {
    grid-area: post-2;
    background-color: #e6987c;
}

.post-17-v2-3 {
    grid-area: post-3;
    background-color: #93a8cf;
}

.post-17-v2-4 {
    grid-area: post-4;
    background-color: #e2a996;
}

.post-17-v2-5 {
    grid-area: post-5;
    background-color: #58828a;
}

.post-17-v2-6 {
    grid-area: post-6;
    background-color: #8ed894;
}

/* Grid - 18 Неявная сетка. Автоматические дорожки сетки. */
/* Для ячейки post-7 автоматически создана неявная дорожка */
.grid-18 {
    display: grid;
    grid-template: repeat(3, 50px) / repeat(3, 100px);
    /* высота неявной дорожки в px*/
    grid-auto-rows: 50px;
    margin-bottom: 30px;
}

.post-18-border {
    border: 1px solid black;
}

.post-18-1 {
    grid-column: 1/3;
    grid-row: 1/3;
}

.post-18-2 {
    grid-column: 3;
    grid-row: 1;
}

.post-18-3 {
    grid-column: 3;
    grid-row: 2;
}

.post-18-4 {
    grid-column: 3;
    grid-row: 3;
}

.post-18-5 {
    grid-column: 2;
    grid-row: 3;
}

.post-18-6 {
    grid-column: 1;
    grid-row: 3;
}

/* Grid - 19. Автоматическое размещение. */
.grid-19 {
    max-width: 960px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    /* 
    Алгоритм автоматического размещения сетки. Изменяя значение
    можно добиться различного расположения элементов сетки.
    */
    grid-auto-flow: row dense;
}

.post-19-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.post-19-3 {
    grid-column: span 3;
    grid-row: span 2;
}

.grid-19 div img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/* Grid - 20. Краткая запись сетки. */
/*
Запись значений для всех свойств (grid-template, grid-template-areas, 
auto-fill, auto-fit, repeat(), [], "name"), определяющих структуру и
параметры сетки в рамках одного свойства - grid.
*/
.grid-20 {
    display: grid;
    grid: [one] 50px [two] 50px [three] 50px [four] / [first] 100px [second] 100px [third];
    /* 
    2-ой вариант, с автоматическим размещением столбцов (для
    корректной работы отключить именование элементов сетки
    */
    /* grid: repeat(3, 50px [one two three four]) / auto-flow dense 30%;*/
    /*
    3-ий вариант с автоматическим размещением строк сетки
    */
    /* grid: auto-flow 300px / repeat(3, [line1 line2 line3] 200px); */
    margin-bottom: 30px;
}

.post-20-1 {
    grid-row: two;
    grid-column: first;
}

.post-20-2 {
    grid-row: two;
    grid-column: second;
}

.post-20-3 {
    grid-row: one;
    grid-column: first;
}

.post-20-4 {
    grid-row: three;
    grid-column: second;
}

.post-20-5 {
    grid-row: three;
    grid-column: first;
}

.post-20-6 {
    grid-row: one;   
    grid-column: second;
}

/* Grid - 21. Элементы сетки. */
.grid-21 {
    display: grid;
    grid: repeat(3, 100px) / repeat(2, 200px);
    align-content: center;
    margin-bottom: 30px;
}

.item-21-1 {
    width: auto;
    align-self: baseline;
    background-color: burlywood;
}

.item-21-2 {
    background-color: #d7e237;
    align-self: center;
}

.item-21-3 {
    background-color: #5c8dc5;
    align-self: center;
}

.item-21-4 {
    background-color: #d6555f;
    align-self: self-end;
}

.item-21-5 {
    background-color: #f59749;
    align-self: flex-end;
}

.item-21-6 {
    background-color: #b0e2e2;
    margin: auto;
    align-self: center
}

/* Grid - 22. Размещение и переупорядочивание элементов сетки. */
.grid-22 {
    display: grid;
    grid: repeat(3, 200px) / repeat(3, 1fr);
    align-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.item-22-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #837c72;
}

.item-22-2 {
    grid-row-start: 1;
    grid-column-start: 3;
    background-color: #d7e237;
}

.item-22-3 {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #5c8dc5;
}

.item-22-4 {
    grid-row-start: 3;
    grid-column-start: 3;
    background-color: #d6555f;
}

.item-22-5 {
    grid-row-start: 3;
    grid-column-start: 2;
    background-color: #f59749;
    
}

.item-22-6 {
    /* свойства можно не указывать, т.к. это последняя ячейка в сетке */
    grid-row-start: 3;
    grid-column-start: 1;
    background-color: #b0e2e2;
}

/* Grid - 23. Именованные линии сетки. */
.grid-23 {
    display: grid;
    /* размещение именованных строк с указанием размеров */
    grid-template-rows: [start] 200px [row2] 200px [row3] 200px [row-end];
    /* размещение именованных колонок с указанием размеров */
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
}

.item-23-1{
    grid-row-start: start;
    grid-column-start: col3;
}

.item-23-2{
    grid-row-start: start;
    grid-column-start: col2;
}

.item-23-3{
    grid-row-start: row2;
    grid-column-start: start;
}

.item-23-4 {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.item-23-5{
    grid-row-start: row3;
    grid-column-start: start;
}

.item-23-6 {
    grid-row-start: start;
    grid-column-start: start;
}

/* Конец 3 - его урока */
