* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
/*
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
*/
a {
    margin-right: 10px;
    color: #794f45;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 46px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    margin-top: 30px;
    color: black;
}

.wrapper {
    display: grid;
    min-height: 100%;
    background-color: #473b3b;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header {
    display: grid;
    grid-area: header;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    padding: 15px;
    align-items: center;
    background-color: #794f45;
}

.header__logo {
    grid-column: 2 / 3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
 display: grid;
 grid-auto-flow: column;
 justify-items: end;
}

.header__list li {

}

.header__link {
    font-size: 18px;
    color: #fff;
}

.header__burger {

}

.main {
    padding: 30px 15px;
}

.sidebar {
    margin-bottom: 30px;
    padding: 30px 15px;
    background-color: #7a956b;
}

.sidebar__menu {

}

.sidebar__list {

}

.sidebar__list li {
    margin-bottom: 15px;
}

.sidebar__link {
    font-size: 20px;
    color: #fff;
}

.content {
    grid-column: 3 / 4;
    padding-left: 30px;
}

.content__title {

}

.content__gallery {
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }

    .sidebar {
        grid-column: 2 / 3;
        margin: 0;
    }

}

.gallery {

}

.gallery__title {

}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
    position: relative;
    padding-bottom: 85%;
}

.gallery__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}

.content__products {

}

.products {

}

.products__title {

}

.products__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 30px; /* отступ между колонками, по вертикали*/
    row-gap: 50px; /* отступ между строками, по горизонтали*/
}

.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr ;
}

.products__image {
    position: relative;
    padding-bottom: 90%;
    margin-bottom: 20px;
}

.products__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products__name {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
}

.products__button {
    padding: 0px 20px;
    justify-self: start;
    letter-spacing: 2px; 
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    background-color: #77608d;
    color: #fff;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    padding: 15px;
    align-items: center;
    background-color: #77608d;
}

.footer__copy {
    grid-column: 2 / 3;
}

.footer__text {
    grid-column: 3 / 4;
    text-align: right;
}