* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    margin-right: 10px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    background-color: #794f45;
}

a:hover {
    color: black;
    transition: 0.5s;
}

.wrapper {
    padding: 20px;
    min-height: 100%;
    background-color: #473b3b;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 46px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    margin-top: 30px;
    color: black;
}

/* 
Контейнеры сетки (grid) не являются блочными
элементами. Поэтому часть CSS свойств с ними
не работает.

Cвойство dispay: grid создаёт контейнер 
уровня блока т.е. занимает 100% ширины экрана.
*/
.grid {
    display: grid;
    float: right;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    font-size: 30px;
    background-color: #794f45;
}

/* 
Cвойство dispay: inline-grid создаёт контейнер 
уровня строки. Ширина контейнера будет равна
находящемуся внутри контенту.
*/
.grid-inline {
    display: inline-grid;
    float: left;
    padding: 20px;
    font-size: 30px;
    background-color: #77608d;
}

.grid-all::after {
    content: '';
    display: table;
    clear: both;
}

/* Lesson 2 */
.grid-main {
    display: block;
	margin: 0px 0px 20px 0px;
    padding: 20px;
    font-size: 30px;
    background-color: #794f45;
}

.grid__body {
	display: grid;
	/* 
	Можно комбинировать относительные(%) и 
    фиксированные(px) значения.
    
    WARING! Minmax meaning is can't using with 
    fr measurement unit. This unit measurement (FR) 
    can use only as max-size for column.
    */
    /*
    grid-template-columns: 200px minmax(100px, 200px) 200px;
    */

    /*
    AUTO meaning allow to adjust by internal content
    */
    /*
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;
    */

    /* Max-width for column.
    Use FIT-CONTENT operator for width limit
    */
    /*
    grid-template-columns: fit-content(200px) 1fr auto;
    grid-template-rows: 1fr 1fr;
    */

    /* (11:39) Properties write optimization. 
    For shorten the property record cam use a
    REPEAT operator. First value is count to colums or rows.
    Second value is his size.
    */
    /*
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    */

    /* (16:53) Shorten record - grid-template
    */  
    /*
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);

    Rows are indicated first, then columns
    */
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.grid__item {
    padding: 20px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (12:50) Area names. */

.grid-wrapper {
    display: grid;

    /* For shorten properties record in Area use opertor
    [start]
    */

    /* Shorten record */
    /*
    grid-template: 
        [start] "header header" 100px [row2]
        [row2] "side content" 1fr [row-end] / 150px 1fr;
    */
    /* Standart record */
    
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header header"
        "side content";
    
}

.grid-header,
.grid-side,
.grid-content {
    padding: 30px;
    border: 2px dashed rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

.grid-header {
    grid-area: header;
}

.grid-side {
    grid-area: side;
}

.grid-content {
    grid-area: content;
}

/* Implicit grid */

.grid-auto {
    display: grid;
    grid-template: 1fr 1fr / repeat(7, 1fr);
    grid-auto-rows: 200px;
    grid-auto-columns: 400px;
    /* 
    Used only if set the explicit grid.
    Grid template unset.
    */
}

/* 3-d row is refers to implicit grid */

.grid-auto__item {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (20:58) Automatic placement */
.grid-masonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    /* Auto position: 3 value */
    grid-auto-flow: dense;
    counter-reset: item;
}

.grid-masonry__item_5{
    grid-column: span 2;
    grid-row: span 2;

}

/* Lesson 3 */

.wrapper-3 {
    min-height: 100%;
    overflow: hidden;
    background-color: #473b3b;
}

.content-3 {
    padding: 30px 3%;
}

.grid-3 {
    position: relative;
    margin: 0px 0px 40px 0px;
    font-size: 30px;
}

/*
.grid__body-3 {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr)
}
*/

.grid__item-3 {
    padding: 30px;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.2);
}

/* (1:58) Размещение элементов сетки с помощью линий сетки */
/*
.grid__item-3_1 {
    grid-row-start: span 2;
    grid-row-end: auto;
    grid-column-start: span 3;
    grid-column-end: auto;
    background-color: #794f45;
}
*/
/* 
C помощью свойств grid-row-start/end и grid-column-start/end
удобно произвольно менять положение элемента и размер (кол-во
занимаемых ячеек)
*/

/* (5:06) Присваивание имён линиям сетки */
/* Позволяет в дальнейшем размещать элемент
по имени данной линии */

/*
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 1fr [row2] 1fr [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];
}
*/


.grid__item-3_2 {
    grid-row-start: row2;
    grid-column-start: col3;
    background-color: #794f45;
}


/* (6:31) Короткая запись свойств */
/* Положение объекта указывается через "/"
цифрами, либо именами линий"
*/

/*
.grid__item-3_1 {
    grid-row: start / row-end;
    grid-column: col3 / col3 ;
    background-color: #794f45;
}
*/

/*
.grid__item-3_1 {
    background-color: #794f45;
    order: 3;
}

.grid__item-3_2 {
    order: 4;
}

.grid__item-3_3 {
    order: 1;
}

.grid__item-3_4 {
    order: 6;
}

.grid__item-3_5 {
    order: 5;
}

.grid__item-3_6 {
    order: 2;
}
*/

/* 7:50 Выравнивание элементов сетки */
/*
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 150px [row2] 150px [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

    justify-items: start;
    align-items: stretch;
}
*/
/* 9:38 Отдельное выравнивание элементов сетки */
/*
.grid__item-3_1 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_2 {
    justify-self: start;
    align-self: center;
}

.grid__item-3_3 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_4 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_5 {
    justify-self: end;
    align-self: stretch;
}

.grid__item-3_6 {
    justify-self: stretch;
    align-self: stretch;
}
*/

/* 10:16 Выравнивание элементов сетки по центру ячейки */
/*
.grid__item-3_1 {
    margin: auto;
}

.grid__item-3_2 {
    margin: auto;
}

.grid__item-3_3 {
    margin: auto;
}

.grid__item-3_4 {
    margin: auto;
}

.grid__item-3_5 {
    margin: auto;
}

.grid__item-3_6 {
    margin: auto;
}
*/

/* 10:30 Промежутки между элементами сетки */
.grid__body-3 {
    display: grid;
    grid-template-rows: [start] 150px [row2] 150px [row-end];
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

    gap: 5%;
}

.grid__item-3_1 {
}

.grid__item-3_2 {
}

.grid__item-3_3 {
}

.grid__item-3_4 {
}

.grid__item-3_5 {
}

.grid__item-3_6 {
}

/* Grid 4 */

.grid-4 {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
}

.grid__item-4 {
    border: 1px dotted black;
    background-color: #4b9194;
}

/* Grid 5 */
.grid-5 {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
}

.grid__item-5 {
    border: 1px dashed black;
    background-color: #d89024;
}

/* Конец 3 - его урока */