* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
/*
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
*/
a {
    margin-right: 10px;
    color: #794f45;
}

a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 46px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
}

h3 {
    margin-top: 30px;
    color: black;
}

.wrapper {
    display: grid;
    min-height: 100%;
    background-color: #473b3b;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header {
    display: grid;
    grid-area: header;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    padding: 15px;
    align-items: center;
    background-color: #794f45;
}

.header__logo {
    grid-column: 2 / 3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
}

.header__menu {
    grid-column: 3/4;
}

.header__list {
 display: grid;
 grid-auto-flow: column;
 justify-items: end;
}

.header__list li {

}

.header__link {
    font-size: 18px;
    color: #fff;
}

.header__burger {

}

.main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.sidebar {
    grid-column: 2 / 3;
    padding: 15px;
    background-color: #7a956b;
}

.sidebar__menu {

}

.sidebar__list {

}

.sidebar__link {
    font-size: 20px;
    color: #fff;
}

.content {
    grid-column: 3 / 4;
    padding-left: 30px;
}

.content__title {

}

.content__gallery {
    
}

.gallery {

}

.gallery__title {

}

.gallery__items {

}

.gallery__item {

}

.gallery__item_big {

}

.content__products {

}

.products {

}

.products__title {

}

.products__items {

}

.products__item {

}

.products__image {

}

.products__name {

}

.products__button {

}

.footer {
    background-color: #77608d;
}

.footer__copy {

}

.footer__text {

}